@import "base.css";

/* Common to all sections */
.sidebar, .appBar, .tableHeaderContainer, #statusContainer, .table, #tableTipContainer {
    -fx-background-radius: 12;
    -fx-background-color: -fx-control-inner-background;
}

/* Styles for the clusters sidebar */
.sidebar {
    -fx-pref-width: 280px;
}
.sidebar > #addClusterTip {
    -fx-background-color: -fx-accent;
    -fx-background-radius: 12 12 0 0;
    -fx-padding: 8;
    -fx-alignment: CENTER;
}
.sidebar > #addClusterTip > .label {
    -fx-text-alignment: center;
}
.sidebar > #addClusterTip > .svgIcon {
    -fx-scale-x: 1.2;
    -fx-scale-y: -fx-scale-x;
}

.accordion > .titled-pane > .title {
    -fx-font-size: 1.25em;
}
.accordion > .titled-pane > .content {
    -fx-padding: 8 8 4 8; /* For some reason the bottom padding is always larger than the others */
}

.appBar {
    -fx-padding: 0 0 0 12;
}
.appBar > .button {
    -fx-background-radius: 0;
    -fx-padding: 10;
}
.appBar > .button.last {
    -fx-background-radius: 0 12 12 0;
}

.button.addClusterAction {
    -fx-padding: 4 16; /* Less vertical margin */
    -fx-font-size: 1em;
    -fx-background-radius: 200; /* Pill-shaped */
    -fx-max-width: Infinity;
}

.tableHeaderContainer {
    -fx-background-radius: 12 12 4 4;
    -fx-padding: 8;
}
.actionRow {
    -fx-background-radius: 0 0 4 4;
    -fx-background-color: derive(-fx-control-inner-background, 10%);
}
.actionRow > .button {
    -fx-min-width: 30;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-color: -fx-outer-border;
    -fx-border-width: 0 1 0 0;
    -fx-background-color: #0000;
}
.actionRow > .button:hover {
    -fx-background-color: derive(-fx-control-inner-background, 15%);
}
.actionRow > .button:pressed {
    -fx-background-color: derive(-fx-control-inner-background, 20%)!important;
}
/* have to use custom class since :first-child/:last-child don't work in JavaFX CSS */
.actionRow > .button.first {
    -fx-background-radius: 0 0 0 2;
}
.actionRow > .button.last {
    -fx-background-radius: 0 0 2 0;
    -fx-border-width: 0;
}
.queryContainer > .text-field {
    -fx-border-radius: 7 0 0 0;
    -fx-background-radius: 7 0 0 0;
    -fx-padding: 0 8;
    -fx-font-size: 1.2em;
    -fx-min-height: 34;
}
.queryContainer > .button {
    -fx-background-radius: 0 7 0 0;
    -fx-padding: 0 8;
    -fx-min-height: 34;
    -fx-min-width: 0;
}

.queryContainer > .text-field, .table-cell, .table-view .column-header-background .label {
    -fx-font-family: 'IBM Plex Mono';
    -fx-font-size: 1.1em;
}

.table {
    -fx-background-radius: 4;
}
#statusContainer {
    -fx-background-radius: 4 4 12 12;
    -fx-padding: 9 14;
    -fx-font-size: 1.2em;
}

#tableTipContainer {
    -fx-background-radius: 12 12 4 4;
}