@import "base.css";

Text {
    -fx-font-size: 1.1em;
}
Text.header {
    -fx-font-size: 1.5em;
}
.label.error {
    -fx-text-fill: #FC2B2D;
}

.sidebar {
    -fx-border-width: 0 1 0 0;
    -fx-border-color: -fx-outer-border;
}

.separator:horizontal {
    -fx-padding: 0 -12;
}

.text-field, .combo-box {
    -fx-max-width: Infinity;
}