.label.h1 {
    -fx-font-size: 32;
    -fx-text-fill: -fx-text-contrast-color;
}
.label.h2 {
    -fx-font-size: 24;
    -fx-text-fill: -fx-text-contrast-color;
}
.label.h3 {
    -fx-font-size: 20;
    -fx-text-fill: -fx-text-contrast-color;
}
.label.h4 {
    -fx-font-size: 16;
}
.label.h5 {
    -fx-font-size: 14;
}
.label.h6 {
    -fx-font-size: 12;
}